
.card {
  position: relative;
  max-width: $item-width;
  min-height: $item-height;
  padding: 20px 40px;
  margin-bottom: 15px;
  border: $card-border-size solid theme-color('primary');
  border-radius: $card-border-radius;
  background-color: #fff;
  cursor: pointer;
  &__header {
    color: $main-card-gray;
  }
  &__title {
    margin-bottom: 15px;
    em {
      display: block;
    }
  } // card title
  &__portions {
    color: $main-card-gray;
    font-size: 14px;
    line-height: 16px;
  }
  &__opinion {
    color: $main-card-gray;
  }
  &__footer {
    position: absolute;
    right: 15px;
    bottom: 15px;
    .badge {
      width: 80px;
      height: 80px;
      color: #fff;
      background-color: theme-color('primary');
    }
  }
  &__weight {
    font-size: 42px;
    line-height: 42px;
  }
  &__units {
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
  }
  &__img {
    position: absolute;
    max-width: 100%;
    bottom: 0;
    left: 0;
    // todo: solve problem with rounded borders overlay;
    border-bottom-right-radius: 6px; 
    border-bottom-left-radius: 6px; 
    user-select: none;
  }
} // card

