.item {
  max-width: 100%;
  margin-bottom: $grid-gutter-width;
  word-break: break-all;
  &__description {
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    text-align: center;
  }
  &--checked {
    .card {
      border-color: theme-color('secondary');
      &__footer {
        .badge {
          background-color: theme-color('secondary');
        }
      }
    }
    &:hover {
      .card {
        &__header {
          color: theme-color('secondary');
        }
      }
    }
  }
  &--disabled {
    .item {
      &__description {
        color: color('yellow');
      }
    }
    .card {
      color: $disabled-card-opaque-color;
      border-color: $disabled-card-color;
      cursor: not-allowed;
      &__header,
      &__body,
      &__img {
        opacity: 0.5;
      }
      &__footer {
        .badge {
          background-color: $disabled-card-color;
        }
      }
    }
  }
} // item

