
.badge {
  display: inline-block;
  text-align: center;
  &--circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 500px;
    background-color: gray;
  }
}