
em {
  font-style: normal;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-weight: 200;
  color: #fff;
}

h2 {
  font-size: 48px;
  line-height: 56px;
  em {
    font-size: 24px;
    line-height: 28px;
  }
}

h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}