
// BOOTSTRAP VARS

// $spacer: 12px;
$enable-rounded: false;
// $enable-grid-classes: false;
// $enable-caret: false;

$grid-columns: 12;
$grid-gutter-width: 80px;
$item-width: 320px;
$item-height: 480px;
$bp-lg: (($item-width * 2) + ($grid-gutter-width * 3));
$bp-xl: (($item-width * 3) + ($grid-gutter-width * 4));

$grid-breakpoints: (
  // sm: $bp-sm,
  lg: $bp-lg,
  xl: $bp-xl
);

$container-max-widths: (
  lg: $bp-lg,
  xl: $bp-xl
);

$font-family-sans-serif:    "Trebuchet MS", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;

$theme-colors: (
  'primary': #1698d9,
  'secondary': #d91667
);

$colors: (
  'yellow': #ffff66
);



// CUSTOM VARS

$card-border-size: 4px;
$card-border-radius: 10px;


$main-card-gray: gray('700');
$disabled-card-color: #b3b3b3;
$disabled-card-opaque-color: gray('400');
