
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: ($grid-gutter-width) 0 0 0;
}

.container {
  @include make-container();
  @include media-breakpoint-up(lg) {
    padding-right: $grid-gutter-width;
    padding-left: $grid-gutter-width;
  }
}

.row {
  @include make-row();
}

.col {
  @include make-col-ready();
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-breakpoint-down(md) {
    padding-left: 10px;
    padding-right: 10px;
  }
  @include media-breakpoint-up(lg) {
    @include make-col(6);
  }
  @include media-breakpoint-up(xl) {
    @include make-col(4);
  }
}